USE [master]
GO
/****** Object:  Database [QLVuonThu]    Script Date: 11/27/2023 1:32:41 PM ******/
CREATE DATABASE [QLVuonThu]
-- CONTAINMENT = NONE
-- ON  PRIMARY 
--( NAME = N'QLVuonThu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS02\MSSQL\DATA\QLVuonThu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
-- LOG ON 
--( NAME = N'QLVuonThu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS02\MSSQL\DATA\QLVuonThu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
-- WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLVuonThu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLVuonThu]
GO
/****** Object:  Table [dbo].[Chuong]    Script Date: 11/27/2023 1:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chuong](
	[MaChuong] [nvarchar](10) NOT NULL,
	[MaTT] [nvarchar](10) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[MaLoai] [nvarchar](10) NOT NULL,
	[MaKhu] [nvarchar](10) NOT NULL,
	[DienTich] [float] NULL,
	[ChieuCao] [float] NULL,
	[SLThu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khu]    Script Date: 11/27/2023 1:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khu](
	[MaKhu] [nvarchar](10) NOT NULL,
	[TenKhu] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loai]    Script Date: 11/27/2023 1:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai](
	[MaLoai] [nvarchar](10) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/27/2023 1:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](10) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[NTNS] [datetime] NULL,
	[GTinh] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[TenDN] [nvarchar](20) NULL,
	[MatKhau] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuKien]    Script Date: 11/27/2023 1:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuKien](
	[MaSK] [nvarchar](10) NOT NULL,
	[TenSK] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thu]    Script Date: 11/27/2023 1:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thu](
	[MaThu] [nvarchar](10) NOT NULL,
	[TenNguonGoc] [nvarchar](50) NOT NULL,
	[TenThu] [nvarchar](50) NULL,
	[MaLoai] [nvarchar](10) NULL,
	[SoLuong] [int] NULL,
	[SachDo] [nvarchar](50) NULL,
	[TenKhoaHoc] [nvarchar](50) NULL,
	[TenTA] [nvarchar](50) NULL,
	[TenTV] [nvarchar](50) NULL,
	[KieuSinh] [nvarchar](50) NULL,
	[NgayVao] [datetime] NULL,
	[DacDiem] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[Anh] [varbinary](max) NULL,
	[TuoiTho] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thu_SuKien]    Script Date: 11/27/2023 1:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thu_SuKien](
	[MaSK] [nvarchar](10) NOT NULL,
	[MaThu] [nvarchar](10) NOT NULL,
	[NgayBD] [datetime] NULL,
	[TenLD] [nvarchar](50) NOT NULL,
	[CachKP] [nvarchar](50) NOT NULL,
	[NgayKT] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thu_ThucAn]    Script Date: 11/27/2023 1:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thu_ThucAn](
	[MaThu] [nvarchar](10) NOT NULL,
	[MaTA] [nvarchar](10) NOT NULL,
	[SLSang] [int] NULL,
	[SLTrua] [int] NULL,
	[SLToi] [int] NULL,
	[NgaySD] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThucAn]    Script Date: 11/27/2023 1:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThucAn](
	[MaTA] [nvarchar](10) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[CongDung] [nvarchar](50) NULL,
	[MaDV] [nvarchar](10) NULL,
	[DonGia] [float] NULL,
	[NgayAD] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuChuong]    Script Date: 11/27/2023 1:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuChuong](
	[MaChuong] [nvarchar](10) NOT NULL,
	[MaThu] [nvarchar](10) NOT NULL,
	[NgayVao] [datetime] NULL,
	[LyDoVao] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChuong] ASC,
	[MaThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThai]    Script Date: 11/27/2023 1:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThai](
	[MaTT] [nvarchar](10) NOT NULL,
	[TenTT] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Chuong] ([MaChuong], [MaTT], [MaNV], [MaLoai], [MaKhu], [DienTich], [ChieuCao], [SLThu]) VALUES (N'C0001', N'TT0001', N'NV0001', N'L0001', N'K0001', 20, 5, 0)
INSERT [dbo].[Chuong] ([MaChuong], [MaTT], [MaNV], [MaLoai], [MaKhu], [DienTich], [ChieuCao], [SLThu]) VALUES (N'C0002', N'TT0001', N'NV0002', N'L0001', N'K0001', 12, 3.5, 0)
INSERT [dbo].[Chuong] ([MaChuong], [MaTT], [MaNV], [MaLoai], [MaKhu], [DienTich], [ChieuCao], [SLThu]) VALUES (N'C0003', N'TT0003', N'NV0003', N'L0002', N'K0002', 32, 12, 0)
GO
INSERT [dbo].[Khu] ([MaKhu], [TenKhu], [GhiChu]) VALUES (N'K0001', N'Động vật ăn cỏ', NULL)
INSERT [dbo].[Khu] ([MaKhu], [TenKhu], [GhiChu]) VALUES (N'K0002', N'Động vật hoang dã', NULL)
INSERT [dbo].[Khu] ([MaKhu], [TenKhu], [GhiChu]) VALUES (N'K0003', N'Động vật dưới nước', NULL)
GO
INSERT [dbo].[Loai] ([MaLoai], [TenLoai], [GhiChu]) VALUES (N'L0001', N'Động vật có vú', NULL)
INSERT [dbo].[Loai] ([MaLoai], [TenLoai], [GhiChu]) VALUES (N'L0002', N'Động vật bò sát', NULL)
INSERT [dbo].[Loai] ([MaLoai], [TenLoai], [GhiChu]) VALUES (N'L0003', N'Động vật lưỡng cư', NULL)
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NTNS], [GTinh], [DiaChi], [SDT], [TenDN], [MatKhau]) VALUES (N'NV0001', N'Nguyễn Gia Phú', CAST(N'1993-04-18T00:00:00.000' AS DateTime), N'Nam', N'Hà Nội', N'1111111111', N'phu', N'123')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NTNS], [GTinh], [DiaChi], [SDT], [TenDN], [MatKhau]) VALUES (N'NV0002', N'Nguyễn Thị Thùy Dương', CAST(N'1990-07-30T00:00:00.000' AS DateTime), N'Nữ', N'Hà Nội', N'2222222222', N'tduong', N'123')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NTNS], [GTinh], [DiaChi], [SDT], [TenDN], [MatKhau]) VALUES (N'NV0003', N'Hoàng Dương', CAST(N'1987-02-12T00:00:00.000' AS DateTime), N'Nam', N'Hà Nội', N'3333333333', N'hduong', N'123')
GO
INSERT [dbo].[SuKien] ([MaSK], [TenSK], [GhiChu]) VALUES (N'SK0001', N'Ốm', NULL)
INSERT [dbo].[SuKien] ([MaSK], [TenSK], [GhiChu]) VALUES (N'SK0002', N'Bỏ ăn', NULL)
INSERT [dbo].[SuKien] ([MaSK], [TenSK], [GhiChu]) VALUES (N'SK0003', N'Chết', NULL)
GO
INSERT [dbo].[Thu_SuKien] ([MaSK], [MaThu], [NgayBD], [TenLD], [CachKP], [NgayKT]) VALUES (N'SK0001', N'T0001', CAST(N'2023-01-01T00:00:00.000' AS DateTime), N'Ốm', N'Xếp lịch khám', CAST(N'2023-02-02T00:00:00.000' AS DateTime))
INSERT [dbo].[Thu_SuKien] ([MaSK], [MaThu], [NgayBD], [TenLD], [CachKP], [NgayKT]) VALUES (N'SK0004', N'T0002', CAST(N'2023-05-01T00:00:00.000' AS DateTime), N'Bị tai nạn', N'Đưa đi thú y', CAST(N'2023-06-02T00:00:00.000' AS DateTime))
INSERT [dbo].[Thu_SuKien] ([MaSK], [MaThu], [NgayBD], [TenLD], [CachKP], [NgayKT]) VALUES (N'SK0003', N'T0003', CAST(N'2023-04-02T00:00:00.000' AS DateTime), N'Già', N'Chôn cất', CAST(N'2023-06-12T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Thu_ThucAn] ([MaThu], [MaTA], [SLSang], [SLTrua], [SLToi], [NgaySD]) VALUES (N'T0001', N'TA0001', 5, 5, 5, CAST(N'2023-11-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Thu_ThucAn] ([MaThu], [MaTA], [SLSang], [SLTrua], [SLToi], [NgaySD]) VALUES (N'T0001', N'TA0004', 5, 5, 5, CAST(N'2023-11-02T00:00:00.000' AS DateTime))
INSERT [dbo].[Thu_ThucAn] ([MaThu], [MaTA], [SLSang], [SLTrua], [SLToi], [NgaySD]) VALUES (N'T0002', N'TA0003', 5, 5, 5, CAST(N'2023-11-03T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[ThucAn] ([MaTA], [Ten], [CongDung], [MaDV], [DonGia], [NgayAD]) VALUES (N'TA0001', N'Cỏ', NULL, NULL, 50000, NULL)
INSERT [dbo].[ThucAn] ([MaTA], [Ten], [CongDung], [MaDV], [DonGia], [NgayAD]) VALUES (N'TA0002', N'Thịt', NULL, NULL, 160000, NULL)
INSERT [dbo].[ThucAn] ([MaTA], [Ten], [CongDung], [MaDV], [DonGia], [NgayAD]) VALUES (N'TA0003', N'Trái cây', NULL, NULL, 120000, NULL)
GO
INSERT [dbo].[TrangThai] ([MaTT], [TenTT], [GhiChu]) VALUES (N'TT0001', N'Trống', NULL)
INSERT [dbo].[TrangThai] ([MaTT], [TenTT], [GhiChu]) VALUES (N'TT0002', N'Đầy', NULL)
INSERT [dbo].[TrangThai] ([MaTT], [TenTT], [GhiChu]) VALUES (N'TT0003', N'Còn chỗ', NULL)
GO
ALTER TABLE [dbo].[Chuong]  WITH CHECK ADD FOREIGN KEY([MaKhu])
REFERENCES [dbo].[Khu] ([MaKhu])
GO
ALTER TABLE [dbo].[Chuong]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[Loai] ([MaLoai])
GO
ALTER TABLE [dbo].[Chuong]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[Chuong]  WITH CHECK ADD FOREIGN KEY([MaTT])
REFERENCES [dbo].[TrangThai] ([MaTT])
GO
ALTER TABLE [dbo].[Thu]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[Loai] ([MaLoai])
GO
ALTER TABLE [dbo].[Thu_SuKien]  WITH CHECK ADD FOREIGN KEY([MaThu])
REFERENCES [dbo].[Thu] ([MaThu])
GO
ALTER TABLE [dbo].[Thu_SuKien]  WITH CHECK ADD FOREIGN KEY([MaSK])
REFERENCES [dbo].[SuKien] ([MaSK])
GO
ALTER TABLE [dbo].[Thu_ThucAn]  WITH CHECK ADD FOREIGN KEY([MaThu])
REFERENCES [dbo].[Thu] ([MaThu])
GO
ALTER TABLE [dbo].[Thu_ThucAn]  WITH CHECK ADD FOREIGN KEY([MaTA])
REFERENCES [dbo].[ThucAn] ([MaTA])
GO
ALTER TABLE [dbo].[ThuChuong]  WITH CHECK ADD FOREIGN KEY([MaChuong])
REFERENCES [dbo].[Chuong] ([MaChuong])
GO
ALTER TABLE [dbo].[ThuChuong]  WITH CHECK ADD FOREIGN KEY([MaThu])
REFERENCES [dbo].[Thu] ([MaThu])
GO
/****** Object:  StoredProcedure [dbo].[DSTheoLoai]    Script Date: 11/27/2023 1:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DSTheoLoai] 
(
	@Loai NVARCHAR(50)
)
AS
	SELECT Thu.MaThu, Thu.TenNguonGoc, Thu.TenThu, Loai.TenLoai, Thu.SoLuong, Thu.SachDo, Thu.TenKhoaHoc, Thu.TenTA, Thu.TenTV, Thu.KieuSinh, Thu.NgayVao, Thu.DacDiem, Thu.NgaySinh, Thu.Anh, Thu.TuoiTho
	FROM   Thu INNER JOIN Loai ON Thu.MaLoai = Loai.MaLoai
	WHERE  TenLoai = @Loai
GO
/****** Object:  StoredProcedure [dbo].[DSTheoLoaiORSachDo]    Script Date: 11/27/2023 1:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DSTheoLoaiORSachDo] 
(
	@Loai NVARCHAR(50),
	@SachDo NVARCHAR(50)
)
AS
	SELECT Thu.MaThu, Thu.TenNguonGoc, Thu.TenThu, Loai.TenLoai, Thu.SoLuong, Thu.SachDo, Thu.TenKhoaHoc, Thu.TenTA, Thu.TenTV, Thu.KieuSinh, Thu.NgayVao, Thu.DacDiem, Thu.NgaySinh, Thu.Anh, Thu.TuoiTho
	FROM   Thu INNER JOIN Loai ON Thu.MaLoai = Loai.MaLoai
	WHERE  TenLoai = @Loai OR SachDo = @SachDo
GO
/****** Object:  StoredProcedure [dbo].[DSThu]    Script Date: 11/27/2023 1:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[DSThu]
(
	@sukien NVARCHAR(20)
) AS
	SELECT DISTINCT Thu.MaThu, TenThu, TenSK, NgayBD, TenLD, CachKP, NgayKT
	FROM   Thu 
		   INNER JOIN Thu_SuKien ON Thu.MaThu = Thu_SuKien.MaThu
		   INNER JOIN SuKien ON Thu_SuKien.MaSK = SuKien.MaSK
	WHERE  TenSK = @sukien
GO
/****** Object:  StoredProcedure [dbo].[ThongTinThu]    Script Date: 11/27/2023 1:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Thông tin thú
CREATE   PROCEDURE [dbo].[ThongTinThu]
(
	@mathu NVARCHAR(20)
) AS
	SELECT * FROM Thu WHERE MaThu = @mathu
GO
USE [master]
GO
